

.D-outerbox{
  
    margin: 0;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    margin-top: 1em;
    margin-left: 7em;
    padding: 3em;
    width: 85vw;
    height: -moz-fit-content;
    height: fit-content;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

}

.D-tophead1 {
  display: flex;
  justify-content: space-evenly;
  width: 54vw;
  margin-left: -377px;
  padding-top: 1.5em;
}

/* Label  */
.D-label{
  color:#f44336;
  font-size: medium;
  font-style: oblique;
}


/* nmae  */
.D-name{
  align-self: baseline;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 2vh;
  height: 14vh;
  justify-content: space-evenly;
  margin-left: 7vw;
}


.D-input-name {
  font-size: medium;
    /* font-weight: bold; */
    height: 34px;
    width: 650px;
    background-color: #ffffff1c;
    color: #242424;
    padding: 0.15rem 0.5rem;
    border-radius: 4px;
    outline: none;
    border: 0.5px solid #d8d8d8;
    line-height: 1.15;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px
}

.D-input-phone {
  align-self: baseline;
  font-size: medium;
  /* font-weight: bold; */
  height: 34px;
  width: 300px;
  background-color: #f1f1f11c;
  color: #242424;
  padding: 0.15rem 0.5rem;
  border-radius: 4px;
  outline: none;
  border: 0.5px solid #d8d8d8;
  line-height: 1.15;
  box-shadow:  rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}




.CE-Social{
  display: flex;
  flex-direction: row;

}

.D-space{
  display: flex;
  flex-direction: row;
  /* background-color: aliceblue; */
  justify-content: space-around;
  align-self: baseline;
  align-self: normal;
  width: 57vw;
}