.header_sch #empty_space_header {
  display: none !important;
}


.modalButton {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 12px 24px;
}

.scheduleright {
  margin-left: 2vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-height: fit-content;
  width: 40vw;
  border-radius: 5px;
  /* border: 1.5px solid #898989; */
}

.contentt{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7vh;
  width: 40vw;
  border: 1.5px solid #ded9d9;
  border-radius: 5px;
  margin-bottom: 2vh;
}

.VS-view {
 width: 5vw;
 height: 3vh;
 cursor: pointer;
  
}

.VS-title {
  font-size: x-large;
  padding: 1.5vh;
  color: #212121;
}
.VS-view {
  width: 6vw;
  height: 5vh;
  font-size: large;
  border-radius: 5px;
  border: 0.5px solid gray;
  background-color: blueviolet;
  color: white;
}

.VS-But {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1.5vh;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  max-width: 360px;
  min-width: 90px;
  position: relative;
  min-height: 48px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 12px 16px;
  overflow: hidden;
  white-space: normal;
  text-align: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.6);
  font-size:large;
}


.rwt__tabs[data-rwt-vertical="true"] {
  display: flex;
}

.rwt__tablist:not([aria-orientation="vertical"]) {
  border-bottom: 1px solid #ddd;
}

.rwt__tablist[aria-orientation="vertical"] {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  border-right: 1px solid #ddd;
  margin-right: 1rem;
}

.rwt__tab {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  padding: 0.6rem 1.5rem;
  transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  font-size: large;
  background-color: #dcdff1;
  border-radius: 3px;
}

.rwt__tab[aria-selected="false"]:hover,
.rwt__tab:focus {
  outline: 0;
  background-color: #96ccff;
  border-radius: 3px;
  color: white;
  font-size: large;

}

.rwt__tab[aria-selected="true"] {
  position: relative;
}

.rwt__tab[aria-selected="true"]:after {
  content: "";
  position: absolute;
}

.rwt__tablist:not([aria-orientation="vertical"])
  .rwt__tab[aria-selected="true"]:after {
  bottom: -1px;
  left: 0;
  width: 100%;
  border-bottom: 4px solid orange;
}

.rwt__tablist[aria-orientation="vertical"]
  .rwt__tab[aria-selected="true"]:after {
  right: -1px;
  top: 0;
  height: 100%;
  border-right: 4px solid orange;
}


.VE-test {
  display: flex;
  flex-direction: row;
  
width: 70vw;
justify-content: space-between;
}

.MuiTabs-root.css-1ujnqem-MuiTabs-root {
  display: flex;
  width: 8vw;
  /* background-color: red; */
}
.Tabbox {
  /* background-color: aliceblue; */
  width: 60vw;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  font-size: large;
  color: #1976d2;
  font-weight: 600;
}

button#mui-p-36193-T-Day\ 1 {
  font-size: large;
  color: #212121;
}