body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 6px 15px;
  display: block;
  margin: auto;
  font-size: 20px;
  font-weight: 550;
  font-family: Arial;
  background-color: #ffffff;
  border-radius: 15px;
}

.modal,
.overlayyy {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlayyy {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.modal-content {
  z-index: 4;
  border: 1px solid #ede2e2;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #ffffff;
  padding: 14px 28px;
  border-radius: 8px;
  max-width: 600px;
  min-width: 300px;
  background-color: rgb(255 255 255);
  color: #000000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px 5px;
  border: 1px solid black;
  font-size: large;
  background-color: #ff0101;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

/* Scroll button styles */
.scroll-button {
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 100px;
  margin: 2.5vh 5px;
}

.scroll-button:hover {
  background-color: #ffffff;
  border: 1px solid black;
  color: #000000;
}

.scroll-button.left {
  position: absolute;
  left: 0vw;
}

.scroll-button.right {
  position: absolute;
  right: 0vw;
}

.copyBtn:hover {
  transform: scale(1.05);
}

input.link_box {
  border: 1px solid rgb(222, 222, 222);
  height: 6vh;
  width: 30vw;
  border-radius: 4px;
  margin: 2vh 0vw;
  padding-left: 10px;
  background-color: white;
  /* box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px; */
}
.copyBtn {
  border: none;
  position: absolute;
  height: 4.5vh;
  width: 6vw;
  background-color: rgb(62, 166, 255);
  color: rgb(255, 255, 255);
  border-radius: 20px;
}

.socials {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  overflow: hidden;
  width: 31vw;
  background-color: #f6f6f6;
  padding-top: 3vh;
  padding-bottom: 3vh;
  border-bottom: 1px solid #c0b2b2;
  border-top: 1px solid #c0b2b2;
}