.Event_dis .box {
  /* border: 1.5px solid rgb(0, 0, 0);
  
  font-family: "Outfit";
  font-style: normal;
  font-size: 3vh;
  
  text-align: center;
  background: #ffffff;
  border-radius: 5px; */

  line-height: 40px; 
}

.event_list button:hover{
  transform: scale(1.04);
  
}

#style-2::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 20px;
background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
width: 10px;
background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
border-radius: 20px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #7B43AC;
}

.btncontainer{
margin:160px 0px;
}

.btncontainer button {

border-radius: 20px;
border: 2px solid  #ffff;
background-color: #9757C8;
min-width:180px;
height:40px;
color: #ffffff;
font-size: 14px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
text-transform: uppercase;
margin:20px;
}




.sharebtn{
position: relative;
margin: 12vh auto 0vh auto;

}

.box{
display: flex;
flex-direction: row;
justify-content: space-evenly;
font-size: 30px;
max-height: fit-content;
}













/* .cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgb(190, 150, 241) 0%, rgb(71, 33, 93) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #2b0a3a83;
  letter-spacing: 0.05em;
  border-radius: 20em;
  margin:auto;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #8408ea98;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #b458f698;
} */


/* Search button */

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 300px;
  margin: 17vh 80vw -17vh 7vw;
 }
 
 .input-orgsrch {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  /* border: 1px solid rgb(134, 134, 134); */
  border-radius: 8px;
  /* outline: none; */
  background-color: #ffffff;
  border: 2px solid #cbcbcb;
  color: #797979;
  transition: .3s ease;
  box-shadow: none;
 }
 
 .input-orgsrch::placeholder {
  color: #878787;
 }
 
 .input-orgsrch:focus, input:hover {
  outline: none;
  border-color: rgb(190, 150, 241) ;
  background-color: #fff;
  
 }
 
 .icon {
  position: absolute;
  left: 1rem;
  fill: #000000;
  width: 1rem;
  height: 1rem;
 }

 /* hover button */
 



  .continue-application {
    --color: #fff;
    --background: #404660;
    --background-hover: #3A4059;
    --background-left: #2B3044;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    /* -webkit-appearance: none; */
    -webkit-tap-highlight-color: transparent;
    padding: 17px 29px 17px 69px;
    transition: background 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
    height: 50px;
    /* margin: 11vh 0vw 0vh 22vw; */
  }
  
  .continue-application > div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: var(--background-left);
  }
  
  .continue-application > div .folder {
    width: 23px;
    height: 27px;
    position: absolute;
    left: 15px;
    top: 13px;
  }
  
  .continue-application > div .folder .top {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application > div .folder .top svg {
    width: 24px;
    height: 27px;
    display: block;
    fill: var(--folder);
    transform-origin: 0 50%;
    transition: transform 0.3s ease var(--fds, 0.45s);
    transform: perspective(120px) rotateY(var(--fr, 0deg));
  }
  
  .continue-application > div .folder:before, .continue-application > div .folder:after,
  .continue-application > div .folder .paper {
    content: "";
    position: absolute;
    left: var(--l, 0);
    top: var(--t, 0);
    width: var(--w, 100%);
    height: var(--h, 100%);
    border-radius: 1px;
    background: var(--b, var(--folder-inner));
  }
  
  .continue-application > div .folder:before {
    box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application > div .folder:after,
  .continue-application > div .folder .paper {
    --l: 1px;
    --t: 1px;
    --w: 21px;
    --h: 25px;
    --b: var(--paper-behind);
  }
  
  .continue-application > div .folder:after {
    transform: translate(var(--pbx, 0), var(--pby, 0));
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application > div .folder .paper {
    z-index: 1;
    --b: var(--paper);
  }
  
  .continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
    content: "";
    width: var(--wp, 14px);
    height: 2px;
    border-radius: 1px;
    transform: scaleY(0.5);
    left: 3px;
    top: var(--tp, 3px);
    position: absolute;
    background: var(--paper-lines);
    box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
  }
  
  .continue-application > div .folder .paper:after {
    --tp: 6px;
    --wp: 10px;
  }
  
  .continue-application > div .pencil {
    height: 2px;
    width: 3px;
    border-radius: 1px 1px 0 0;
    top: 8px;
    left: 105%;
    position: absolute;
    z-index: 3;
    transform-origin: 50% 19px;
    background: var(--pencil-cap);
    transform: translateX(var(--pex, 0)) rotate(35deg);
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application > div .pencil:before, .continue-application > div .pencil:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
    width: var(--w, 5px);
    height: var(--h, 20px);
    border-radius: var(--br, 2px 2px 0 0);
    top: var(--t, 2px);
    left: var(--l, -1px);
  }
  
  .continue-application > div .pencil:before {
    -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  }
  
  .continue-application > div .pencil:after {
    --b: none;
    --w: 3px;
    --h: 6px;
    --br: 0 2px 1px 0;
    --t: 3px;
    --l: 3px;
    border-top: 1px solid var(--pencil-top);
    border-right: 1px solid var(--pencil-top);
  }
  
  .continue-application:before, .continue-application:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
  }
  
  .continue-application:after {
    --r: 45deg;
  }
  
  .continue-application:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: .15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: .15s;
    --pex: -24px;
  }
  


 

.twobt{
  display: flex;
  flex-direction: row;
  margin: 11vh 1vw 1vh 30vw;
  width: fit-content;
  justify-content: space-around;
}

/* #list{
  margin: 11vh 39vw 1vh 1vw;
}
*/

#calendarr{
  margin: 0vh 15vw 1vh 1vw;
  
} 

.threebt{
  display: flex;
  flex-direction: row;
}

/* create event button  */
.addevent{
  margin: 11vh 0vw 0vh 25vw;
  padding: 12px 21px;
  background:#f4500a;
  
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: px;
  cursor: pointer;
  height: 50px;
  text-align: center;

}
 


/* events  */
.event_list{
  margin: 25vh auto auto 7vw;
  display: unset;
  border: 1.5px solid black;
  height: 65vh;
  width:40vw;
  
  background-color: #ffffff;
  overflow: auto; 
  border-radius: 10px;
  padding: 10px;
}


/* event items */
.event_item{
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 1vh 0vw 1vh 1vw;
  
  width: 84vw;
  height: 15vh;
  border: none;
  background-color: rgb(255, 255, 255);
  /* cursor: pointer;
   transition: all .3s ease;
   box-shadow:rgb(243 242 244) 0px 2px 4px 0px, rgb(255 255 255 / 22%) 0px 0px 1px; */
}

/* .event_item:hover {
  transform: scale(1.01);
} */

.eventimg{
  display: unset;
  margin: auto 2vw;
  width: 15vh;
  height: 14vh;
  border: 1px solid black;
  border-radius: 10px;
  object-fit: fit;
}


/* cal image/ */

.no-events-to-show-img{
  
    height: -webkit-fill-available;
    /* background-color: aquamarine; */
    width: 90vw;
    align-self: center;
    border: 1px solid gray;
    border-radius: 5px ;

}





.button-box {
	width: 220px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
	background: #fff
}

.toggle-btn {
	padding: 10px 40px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
}

#btn {
	left: 0;
	top: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #e67e22;
	border-radius: 30px;
	transition: .5s;
}


/* Event-head */

.event-des-header{
  background-color: #f6f6f6;
  display: flex;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding-left: 50px;
}


.event-des-header-right{
  display: flex;
  flex-direction: row;
  padding-left: 500px;
 
  margin-left: 39vw;
 
}

#cdd {
  margin-left: -25vw;
  color: rgb(61, 61, 61);
}
#cd {
  margin-left: -52vw;
  color: rgb(61, 61, 61);
}

#cddd{
  color: rgb(61, 61, 61);
}


/* three dots */
.showLeft {
  background-color: white !important;
  border: 1px solid white !important;
  text-shadow: white !important;
  color: black !important;
  padding: 10px;
}
.icons li {
  background: none repeat scroll 0 0#746e6e;;
  height: 5px;
  width: 5px;
  line-height: 0;
  list-style: none outside none;
  margin-right: 15px;
  margin-top: 3px;
  vertical-align: top;
  border-radius: 50%;
  pointer-events: none;
}
.btn-left {
  left: 0.4em;
}
.btn-right {
  right: 4.4em;
}
.btn-left,
.btn-right {
  position: absolute;
  top: 23.24em;
}
.dropbtn {
  background-color: #4caf50;
  position: fixed;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}
.dropdown {
  position: absolute;
  display: inline-block;
  right: 0.4em;
}
.dropdown-content {
  display: none;
  position: relative;
  margin-top: 60px;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}



/* dropdown  */
#container {
  /* width: 500px; */
  height: 50px;
  background-color: #fff;
  padding: 10px;
  margin: 34px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#container .text {
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 400;
}

#container #menu-wrap {
  position: relative;
  height: 25px;
  width: 25px;
  z-index: 1000;
}

#container #menu-wrap .dots {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
}

#container #menu-wrap .dots > div,
#container #menu-wrap .dots > div:after,
#container #menu-wrap .dots > div:before {
  height: 6px;
  width: 6px;
  background-color: rgba(49, 49, 49, 0.8);
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#container #menu-wrap .dots > div {
  position: relative;
}

#container #menu-wrap .dots > div:after {
  content: "";
  position: absolute;
  bottom: calc((25px / 2) - (6px / 2));
  left: 0;
}

#container #menu-wrap .dots > div:before {
  content: "";
  position: absolute;
  top: calc((25px / 2) - (6px / 2));
  left: 0;
}

#container #menu-wrap .menu {
  position: absolute;
  right: -10px;
  top: calc(-12px + 50px);
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 15px;
  -webkit-box-shadow: 2px 4px 6px rgba(49, 49, 49, 0.2);
  box-shadow: 2px 4px 6px rgba(49, 49, 49, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

#container #menu-wrap .menu ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  margin: 2vh 2vw 2vh -1vw;
}

#container #menu-wrap .menu ul li {
  margin: 15px 0;
}

#container #menu-wrap .menu ul li .link {
  text-decoration: none;
  color: rgba(49, 49, 49, 0.85);
  opacity: 0;
  visibility: hidden;
}

#container #menu-wrap .toggler {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  z-index: 2;
  background-color: transparent;
}

#container #menu-wrap .toggler:hover + .dots > div,
#container #menu-wrap .toggler:hover + .dots > div:after,
#container #menu-wrap .toggler:hover + .dots > div:before {
  background-color: rgba(49, 49, 49, 0.6);
}

#container #menu-wrap .toggler:checked + .dots > div {
  -webkit-transform: translateX(calc(((25px / 2) - (6px / 2)) * -0.7071067812))
    translateY(calc(((25px / 2) - (6px / 2)) * -0.7071067812));
  -ms-transform: translateX(calc(((25px / 2) - (6px / 2)) * -0.7071067812))
    translateY(calc(((25px / 2) - (6px / 2)) * -0.7071067812));
  transform: translateX(calc(((25px / 2) - (6px / 2)) * -0.7071067812))
    translateY(calc(((25px / 2) - (6px / 2)) * -0.7071067812));
}

#container #menu-wrap .toggler:checked + .dots > div:after {
  -webkit-transform: translateX(calc(((25px / 2) - (6px / 2)) * 0.7071067812))
    translateY(calc((2 * (25px / 2) - (6px / 2)) * 0.7071067812));
  -ms-transform: translateX(calc(((25px / 2) - (6px / 2)) * 0.7071067812))
    translateY(calc((2 * (25px / 2) - (6px / 2)) * 0.7071067812));
  transform: translateX(calc(((25px / 2) - (6px / 2)) * 0.7071067812))
    translateY(calc((2 * (25px / 2) - (6px / 2)) * 0.7071067812));
}

#container #menu-wrap .toggler:checked + .dots > div:before {
  -webkit-transform: translateX(
      calc(2 * (((25px / 2) - (6px / 2)) * 0.7071067812))
    )
    translateY(
      calc(((25px / 2) - (6px / 2)) - (((25px / 2) - (6px / 2)) * 0.7071067812))
    );
  -ms-transform: translateX(calc(2 * (((25px / 2) - (6px / 2)) * 0.7071067812)))
    translateY(
      calc(((25px / 2) - (6px / 2)) - (((25px / 2) - (6px / 2)) * 0.7071067812))
    );
  transform: translateX(calc(2 * (((25px / 2) - (6px / 2)) * 0.7071067812)))
    translateY(
      calc(((25px / 2) - (6px / 2)) - (((25px / 2) - (6px / 2)) * 0.7071067812))
    );
}

#container #menu-wrap .toggler:checked:hover + .dots > div,
#container #menu-wrap .toggler:checked:hover + .dots > div:after,
#container #menu-wrap .toggler:checked:hover + .dots > div:before {
  background-color: rgba(49, 49, 49, 0.6);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#container #menu-wrap .toggler:checked ~ .menu {
  opacity: 100;
  visibility: visible;
  width:fit-content;
  height: fit-content;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: white;
  z-index: 1000;
  position: fixed;
}

#container #menu-wrap .toggler:checked ~ .menu ul .link {
  opacity: 1000;
  visibility: visible;
  -webkit-transition: 0.5s ease 0.3s;
  -o-transition: 0.5s ease 0.3s;
  transition: 0.5s ease 0.3s;
  z-index: 1000;
}

#container #menu-wrap .toggler:checked ~ .menu ul .link:hover {
  color: #2980b9;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#container #menu-wrap .toggler:not(:checked) ~ .menu {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#container #menu-wrap .toggler:not(:checked) ~ .menu ul .link {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

@media (max-width: 600px) {
  #container {
    position: absolute;
    top: 50px;
    width: calc(100% - 40px);
    margin: 0;
  }
}