.P-outerBox {
  margin: auto;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  margin-top: 1em;
  padding: 3em;
  width: 80vw;

  height: fit-content;

  background: #ffffff;

  display: flex;
  flex-direction: column;

  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.P-Image {
  width: 570px;
  height: 280px;
  object-fit: cover;
  margin: auto;
}
.P-blur-bg {
  background: rgb(198, 172, 183);
  background: radial-gradient(
    circle,
    rgba(198, 172, 183, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 50vw;
}
.P-Heading {
  /* padding-top: 1vh; */
  text-align: justify;
  font-size: 13pt;
  display: flex;
  flex-direction: column;
  color: #000000;
  align-items: start;
  font-style: italic;
}

.P-TAG {
  border-radius: 5px;
}
.P-tag {
  font-size: 2em;
  font-weight: 600;
  background-image: radial-gradient(circle, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  /* font-size: larger; */
  border: none;
  height: 70px;
  /* background-color: #ffffff; */
  width: fit-content;
  text-align: center;
}

.P-tag::placeholder {
  color: #ff0000;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

b.P-desc-head {
  color: red;
  padding: 2vh 0vw 2vh 0vw;
  font-size: large;
}

.P-tag1 {
  padding-top: 1vh;
  color: black;
  /* border: 1px solid #ffffff; */
  border-radius: 5px;
  height: 50px;
  /* background-color: #b98f8f; */
  width: 300px;
  text-align: start;
}

.P-tag111 {
  font-style: normal;
  color: black;
  width: 640px;
  height: fit-content;
  /* background-color: #fbfbfb; */
  border: 1px solid #ffffff;
  border-radius: 5px;
  display: flex;
}

.P-tag1::placeholder {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 500;
}
.P-tag11::placeholder {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 500;
}
.P-tag111::placeholder {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 500;
}

.P-Title {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 1.5em;
}

.P-lowerbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 85em;
}

.P-desc {
  
  width: 70%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 1.5em;
}
.P-VE-Schedule {
  background-color: #ffffff;
  width: 18vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 5px;
  margin: 5vh 3vw;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.P-VE-schedule {
  font-size: x-large;
  color: #4f4f4f;
}

.P-Orgdetail {
  display: flex;
  gap: 30px;
}
.P-Description {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  align-items: baseline;
}

.P-WW {
  font-size: 13pt;
  color: blue;
  display: flex;
  flex-direction: column;
}
.P-DTdes {
  display: flex;
  gap: 30px;
  width: 70vw;
}

.P-add {
  display: flex;
  gap: 30px;
  width: 23vw;
}

.P-CD {
  font-size: 13pt;
  color: blue;
  display: flex;
  gap: 20px;
  padding-bottom: 4vh;
}

label.P-Heading1 {
  color: blue;
}

.P-VE1 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.P-VE2 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}










input[type="text"]:disabled {
  background: #ffffff;
  border: none;
  font-size: larger;
  color: #000000;
}
input[type="date"]:disabled {
  background: #ffffff;
  border: none;
  font-size: large;
  color: #000000;
}
input[type="time"]:disabled {
  background: #ffffff;
  border: none;
  font-size: large;
  color: #000000;
}
input[type="email"]:disabled {
  background: #ffffff;
  border: none;
  font-size: large;
  color: #000000;
}
input[type="tel"]:disabled {
  background: #ffffff;
  border: none;
  font-size: large;
  color: #000000;
}
