.container-calendar{
  display:flex;
  margin:0;
}

.no-events-to-show-img{
  max-width:50vw;
  min-height:70vh;
  margin-right: auto;
  margin-left: 10px;
}

.calendar-box{
    
    font-family:Arial, Helvetica, sans-serif;
    padding: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    min-height:fit-content;
    min-width:fit-content;
    margin:5vh 2.5vw 5vh 7vw ;
    /* border:1.5px solid black; */
    background-color:white;
    border-radius: 10px;
    border: 3px solid #fafafa;
    box-shadow: rgb(201, 194, 207)  0px 2px 3px 2px, rgba(194, 189, 189, 0.22) 5px 5px 11px;

}

.outerline{
  font-size: small;
  height: fit-content;
  min-width: 35vw;
  align-self: center;
  font-family: 'Courier New', Courier, monospace;
  outline-style: none;
}

.right-div{
  max-width:35vw;
  margin:3vh auto;
}

.alleventsbtn{
  display: flex;
  justify-content: flex-end;
  margin: 0 2vw 0 auto; 
  /* margin:3vh 0vw 3vh auto; */
  ;
}

.cssbuttonsiobutton {
  background: #607D8B;;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #607D8B;;
  overflow: hidden;
  position:relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  justify-self: flex-end;
}

.cssbuttonsiobutton .iconn {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #607D8B;;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttonsiobutton:hover .iconn {
  width: calc(100% - 0.6em);
}

.cssbuttonsiobutton .iconn svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #607D8B;;
}


.cssbuttonsiobutton:hover .iconn svg {
  transform: translateX(0.1em);
}

.cssbuttonsiobutton:active .iconn {
  transform: scale(0.95);
}

.container-events{
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  width: 30vw;
  height: 75vh;
  margin:7vh 12vw 5vh 3vw ;
  border-radius: 10px;
  border: 3px solid #fafafa;
  box-shadow: rgb(201, 194, 207)  0px 2px 3px 2px, rgba(194, 189, 189, 0.22) 5px 5px 11px;
  overflow:auto;
}

.eventsheader{
  font-size: 1.5em;
  padding:20px 20px;
  padding: 1vh 1vw;
  margin:1vh 0 2vh 0;

}

.eventlist{
  border: 1px solid black;
}




.date{
    display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 25px;
     color:#D2042D;
     
}

.months{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 20px;
    padding-bottom: 10px ;
    font-weight: bold;
    font-size: 20px;
    color: rgb(79, 72, 72);
}

.digits
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* border:1.5px solid grey; */
    /* border-radius: 10px; */
}

.digits1{
    padding: 0.5rem; 
  text-align: center; 
  height: 3.5rem; 
  display: grid; 
  place-content: center; 
  font-size: 0.875rem; 

}






.Event_dis .box {
    /* border: 1.5px solid rgb(0, 0, 0);
    
    font-family: "Outfit";
    font-style: normal;
    font-size: 3vh;
    
    text-align: center;
    background: #ffffff;
    border-radius: 5px; */
  
    line-height: 40px; 
  }
  
  .event_list button:hover{
    transform: scale(1.04);
    
  }
  
  #style-2::-webkit-scrollbar-track
  {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 20px;
  background-color: #F5F5F5;
  }
  
  #style-2::-webkit-scrollbar
  {
  width: 10px;
  background-color: #F5F5F5;
  }
  
  #style-2::-webkit-scrollbar-thumb
  {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #7B43AC;
  }
  
  .btncontainer{
  margin:160px 0px;
  }
  
  .btncontainer button {
  
  border-radius: 20px;
  border: 2px solid  #ffff;
  background-color: #9757C8;
  min-width:180px;
  height:40px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin:20px;
  }
  
  
  
  
  .sharebtn{
  position: relative;
  margin: 12vh auto 0vh auto;
  
  }
  
  .box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
  max-height: fit-content;
  }
   
  
  /* Search button */
  
  .group {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 30px;
    /* margin: 17vh 80vw -17vh 7vw; */
   }
   
   .inputt {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    /* border: 1px solid rgb(134, 134, 134); */
    border-radius: 8px;
    /* outline: none; */
    background-color: #ffffff;
    border: 2px solid #cbcbcb;
    color: #797979;
    transition: .3s ease;
    box-shadow: none;
   }
   
   .inputt::placeholder {
    color: #878787;
   }
   
   .inputt:focus, input:hover {
    outline: none;
    border-color: rgb(190, 150, 241) ;
    background-color: #fff;
    /* box-shadow: 0 0 0 4px rgb(234 76 137 / 10%); */
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #000000;
    width: 1rem;
    height: 1rem;
   }
  
   /* hover button */
   
  
  .btn {
   
    background-color: white;
    --color: #9757C8;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.4em;
    overflow: hidden;
    cursor: pointer;
    margin: 4px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
    }
  
  
    .btn::before {
      position: absolute;
      content: "";
      background: var(--color);
      width: 150px;
      height: 200px;
      z-index: -1;
      border-radius: 50%;
    }
    
    .btn:hover {
      color: white;
    }
    
    .btn:before {
      top: 100%;
      left: 100%;
      transition: 0.3s all;
    }
    
    .btn:hover::before {
      top: -30px;
      left: -30px;
    }
  
  .header-2{
    display: flex;
    flex-direction: row;
    margin: 0 1vw 1vh 7vw;
    width: fit-content;
    justify-content: space-around;
  }
  
  #events-tag{
    font-size: 2.5em;
    font-style: oblique;
    margin: 3vh 1vw 1vh 0;  }

  #list{
    margin: 3vh 1vw 1vh 18vw;
    
  }
 
  
  #calendarbtn{
    margin: 3vh 1vw 1vh 1vw;
    
  } 
  
  /* All events button  */
.cssbuttons-io-button {
  background: #607D8B;;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #607D8B;;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;


  /* align-self: flex-end; */
}

.cssbuttons-io-button .iconn {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #607D8B;;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .iconn {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .iconn svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #607D8B;;
}

.cssbuttons-io-button:hover .iconn svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .iconn {
  transform: scale(0.95);
}


  .threebt{
    display: flex;
    flex-direction: row;
  }
  
  /* create event button  */
  .addevent{
    margin: 11vh 0vw 0vh 25vw;
    padding: 12px 21px;
    background:#f4500a;
    
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: px;
    cursor: pointer;
    height: 50px;
    text-align: center;
  
  }
   
  
  
  
  .eventimg{
    display: unset;
    margin: auto 2vw;
    width: 15vh;
    height: 14vh;
    border: 1px solid black;
    border-radius: 10px;
    object-fit: fit;
  }
  
  
  /* cal image/ */
  
  .no-events-to-show-img{
    
      height: -webkit-fill-available;
      /* background-color: aquamarine; */
      width: 90vw;
      align-self: center;
      border: 1px solid gray;
      border-radius: 5px ;
  
  }
  
  
  
  
  
  .button-box {
      width: 220px;
      margin: 35px auto;
      position: relative;
      border-radius: 30px;
      background: #fff
  }
  
  .toggle-btn {
      padding: 10px 40px;
      cursor: pointer;
      background: transparent;
      border: 0;
      outline: none;
      position: relative;
      text-align: center;
  }
  
  #btn {
      left: 0;
      top: 0;
      position: absolute;
      width: 110px;
      height: 100%;
      background: #e67e22;
      border-radius: 30px;
      transition: .5s;
  }
  
  
  