.header_schedule #empty_space_header {
    display: none !important;
  }
  
  
  ::placeholder {
    color: gray;
    opacity: 1; /* Firefox */
    font-size: medium;
    padding: 1vh 0vw 0vh 2vh;
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: gray;
  }
  
 .input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
  }
  
  .whole{
    background-color: #fbf6ff;;
    width: 95%;
    height: 80vh;
    margin-left: 2vw;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow:  0px -4px 8px 0px #c9c2cf, 5px 5px 11px rgb(194 189 189 / 22%);
    
  }

.VSS-Outerbox{
  margin: 0;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  margin-top: 1em;
  margin-left: 11em;
  padding: 3em;
  width: 80vw;
  height: fit-content;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.VSS-tophead {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 59vw;
  /* margin-right: 22px; */
  margin-left: -158px;
  
}

.VSS-input-title{
  font-size: x-large;
    font-weight: normal;
    border: 1px solid #ffffff;
    border-radius: 5px;
    height: 50px;
    background-color: #fbfbfb;
    width: 300px;
    max-width: fit-content;
    text-align: left;
    padding: 2vh;
    border: 0px solid #ffffff;
}

input[type="date"]:disabled {
  background: #ffffff;
  border: none;
  font-size: large;
  color: #000000;
}


.VSS-textarea-desc {
  font-size: larger;
  /* font-weight: bold; */
  height: 45vh;
  width: 800px;
  background-color: #ffffff1c;
  color: #242424;
  padding: 1rem 1rem;
  border-radius: 4px;
  outline: none;
  border: 0.5px solid #ffffff;
  line-height: 1.15;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  resize: none;
}


.VSS-event_desc {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  /* padding: 2vh; */
  height: 56vh;
  justify-content: space-evenly;
}

.VSS-footer-butn {
  margin-left: 177px;
  margin-top: -7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  height: 10vh;
  width: 80vw;
  background-color: #f7f7f7;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 0px, rgba(0, 0, 0, 0.24) 0px 1px 1px;
  position: sticky;
}
.VSS-footer-twobt {
  display: flex;
  flex-direction: row-reverse;
  width: 20vw;
  align-items: end;
  padding-right: 1vw;
}

.VSS-evtBack {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  height: 38px;
  padding: 8px 24px;
  border-radius: 8px;
  background-color: rebeccapurple;
  /* background-image: linear-gradient(180deg,#fff,#f5f5fa); */
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;
}