


 .SS-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.SS-label{
  color:#f44336;
  font-size: medium;
  font-style: oblique;
}


.SS-input-title {
  font-size: medium;
  /* font-weight: bold; */
  height: 30px;
  width: fit-content;
  background-color: #ffffff1c;
  color: #242424;
  padding: 0.15rem 0.5rem;
  border-radius: 4px;
  outline: none;
  /* border: 0.5px solid #d8d8d8; */
  line-height: 1.15;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; */
}

.SS-event_title{
  /* align-self:center; */
  display: flex;
  flex-direction: column;
  align-items: baseline;
  /* padding: 2vh; */
  height: 11vh;
  justify-content: space-evenly;
}

.SS-event_desc{
  align-self:flex-start;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  /* padding: 2vh; */
  height: fit-content;
  justify-content: space-evenly;
}


.SS-textarea-desc {
  text-align: justify;
  flex-direction: row;
  display: flex;
  max-height: 40vh;
  font-size: medium;
  height: -moz-fit-content;
  height: fit-content;
  width: 700px;
  background-color: #ffffff1c;
  color: #242424;
  padding: 1rem 0rem;
  border-radius: 4px;
  outline: none;
  border: 0.5px solid #ffffff;
  line-height: 1.15;
}

.SS-input_sch {
  display: flex;
  font-size: medium;
  height: 27px;
  width: 185px;
  color: #242424;
  padding: 0.15rem 0.5rem;
}


.SS-session {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 9vh;
  justify-content: space-around;
}

